<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="herald">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000978627868514288 -0.0168783350390662 0.046949438172872"
        rpy="0 0 0" />
      <mass
        value="5.94911461170348" />
      <inertia
        ixx="0.146354541513565"
        ixy="-5.73599506869725E-06"
        ixz="-4.36985212909704E-07"
        iyy="0.0263987482751547"
        iyz="-6.93257295201472E-05"
        izz="0.156525700557785" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Top_Link">
    <inertial>
      <origin
        xyz="0.105466774862687 0.0370820185564252 0.231665834248384"
        rpy="0 0 0" />
      <mass
        value="0.886298585253066" />
      <inertia
        ixx="0.0133353983534309"
        ixy="-3.17846082940069E-20"
        ixz="-3.7463286810849E-05"
        iyy="0.0160345877991054"
        iyz="-1.34992462238338E-17"
        izz="0.0027047956735155" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Top_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Top_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Top"
    type="fixed">
    <origin
      xyz="-0.1067720614782 0.234418156178905 0.114168012730008"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="Top_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Triangle_1_Link">
    <inertial>
      <origin
        xyz="-0.0224532310608155 -2.25254728530855E-05 -1.43990671057359E-06"
        rpy="0 0 0" />
      <mass
        value="0.832590973914139" />
      <inertia
        ixx="0.00400649050305285"
        ixy="-2.49871584302065E-10"
        ixz="2.97501490062033E-10"
        iyy="0.00204844624331817"
        iyz="-5.5794530297781E-08"
        izz="0.00204855981218023" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Triangle_1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Triangle_1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Triangle_1"
    type="fixed">
    <origin
      xyz="0.144228594913917 0.233524086401926 0.0030000000000463"
      rpy="-0.523598775598317 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Triangle_1_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Wheel_11_Link">
    <inertial>
      <origin
        xyz="0.0452843621050643 5.05144975154748E-08 -0.0031665843938255"
        rpy="0 0 0" />
      <mass
        value="0.928234057399506" />
      <inertia
        ixx="0.00408370470903071"
        ixy="-3.08673646787042E-10"
        ixz="-0.000120232765707568"
        iyy="0.00236428458612573"
        iyz="2.36372531325111E-10"
        izz="0.00237269614282624" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_11_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_11_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_11"
    type="continuous">
    <origin
      xyz="-0.00920017582689844 -0.0505 0.0874685657822284"
      rpy="1.048252990733 -0.0348853122585332 3.08110812456411" />
    <parent
      link="Triangle_1_Link" />
    <child
      link="Wheel_11_Link" />
    <axis
      xyz="0.997564050259824 0 -0.0697564737441241" />
  </joint>
  <link
    name="Wheel_12_Link">
    <inertial>
      <origin
        xyz="0.0452843621033281 5.05372140871541E-08 -0.00316658438110728"
        rpy="0 0 0" />
      <mass
        value="0.928234057332528" />
      <inertia
        ixx="0.00408370470840518"
        ixy="-3.09279316403055E-10"
        ixz="-0.000120232765983679"
        iyy="0.00236428458628127"
        iyz="2.35743541048552E-10"
        izz="0.00237269614191475" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_12_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_12_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_12"
    type="continuous">
    <origin
      xyz="-0.0092001758268993 0.101 0"
      rpy="1.048252990733 -0.0348853122585375 3.08110812456411" />
    <parent
      link="Triangle_1_Link" />
    <child
      link="Wheel_12_Link" />
    <axis
      xyz="0.997564050259824 0 -0.0697564737441326" />
  </joint>
  <link
    name="Wheel_13_Link">
    <inertial>
      <origin
        xyz="0.0452843482276672 -2.35298021067365E-08 -0.00316662303642934"
        rpy="0 0 0" />
      <mass
        value="0.928234721103625" />
      <inertia
        ixx="0.0040836997167735"
        ixy="5.33154639072831E-10"
        ixz="-0.000120232154725741"
        iyy="0.00236428181415886"
        iyz="1.77923080240359E-10"
        izz="0.00237269329426952" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_13_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_13_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_13"
    type="continuous">
    <origin
      xyz="-0.00920017582690119 -0.0504999999999999 -0.0874685657822283"
      rpy="2.22501935974898 0.0425278066857692 3.0862111219061" />
    <parent
      link="Triangle_1_Link" />
    <child
      link="Wheel_13_Link" />
    <axis
      xyz="0.997564050259824 0 -0.0697564737441343" />
  </joint>
  <link
    name="Triangle_2_Link">
    <inertial>
      <origin
        xyz="-0.0224532310608155 -2.25254728549221E-05 -1.4399067097548E-06"
        rpy="0 0 0" />
      <mass
        value="0.832590973914138" />
      <inertia
        ixx="0.00400649050305284"
        ixy="-2.49872390514625E-10"
        ixz="2.9750196959097E-10"
        iyy="0.00204844624332658"
        iyz="-5.57945256948256E-08"
        izz="0.00204855981217181" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Triangle_2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Triangle_2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Triangle_2"
    type="fixed">
    <origin
      xyz="-0.145771405086078 0.233524086401872 0.00299999999958976"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="Triangle_2_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Wheel_21_Link">
    <inertial>
      <origin
        xyz="-0.0502724332253032 -2.13792918091205E-08 0.00351535660819591"
        rpy="0 0 0" />
      <mass
        value="0.928234720041403" />
      <inertia
        ixx="0.00408369944328603"
        ixy="-5.86244418810645E-10"
        ixz="-0.000120234191751174"
        iyy="0.00236428515996103"
        iyz="1.6422312775692E-09"
        izz="0.00237269021422261" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_21_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_21_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_21"
    type="continuous">
    <origin
      xyz="-0.0091999151049047 0.101 0"
      rpy="0 -0.069813170079782 0" />
    <parent
      link="Triangle_2_Link" />
    <child
      link="Wheel_21_Link" />
    <axis
      xyz="0.997564050259824 0 -0.0697564737441336" />
  </joint>
  <link
    name="Wheel_22_Link">
    <inertial>
      <origin
        xyz="-0.0502724332305571 -2.13890174183273E-08 0.00351535660976665"
        rpy="0 0 0" />
      <mass
        value="0.928234720134885" />
      <inertia
        ixx="0.00408369944305971"
        ixy="-5.8632833418828E-10"
        ixz="-0.000120234191777132"
        iyy="0.00236428515971564"
        iyz="1.64228911471206E-09"
        izz="0.00237269021436456" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_22_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_22_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_22"
    type="continuous">
    <origin
      xyz="-0.00919991510490456 -0.0505 -0.0874685657822283"
      rpy="0 -0.0698131700797792 0" />
    <parent
      link="Triangle_2_Link" />
    <child
      link="Wheel_22_Link" />
    <axis
      xyz="0.997564050259824 0 -0.0697564737441313" />
  </joint>
  <link
    name="Wheel_23_Link">
    <inertial>
      <origin
        xyz="-0.0502724332267846 -2.13818018499068E-08 0.0035153566101134"
        rpy="0 0 0" />
      <mass
        value="0.928234719971823" />
      <inertia
        ixx="0.00408369944294933"
        ixy="-5.86216358221288E-10"
        ixz="-0.000120234191897746"
        iyy="0.00236428515997725"
        iyz="1.64266509778976E-09"
        izz="0.0023726902139154" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_23_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_23_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_23"
    type="continuous">
    <origin
      xyz="-0.0091999151049047 -0.0505 0.0874685657822284"
      rpy="0 -0.069813170079782 0" />
    <parent
      link="Triangle_2_Link" />
    <child
      link="Wheel_23_Link" />
    <axis
      xyz="0.997564050259824 0 -0.0697564737441341" />
  </joint>
  <link
    name="Triangle_3_Link">
    <inertial>
      <origin
        xyz="-0.0224532310608154 -2.25254728549742E-05 -1.43990670983807E-06"
        rpy="0 0 0" />
      <mass
        value="0.832590973914139" />
      <inertia
        ixx="0.00400649050305285"
        ixy="-2.49872390392501E-10"
        ixz="2.97501969543549E-10"
        iyy="0.00204844624332659"
        iyz="-5.57945256932364E-08"
        izz="0.00204855981217181" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Triangle_3_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Triangle_3_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Triangle_3"
    type="fixed">
    <origin
      xyz="-0.145771405086084 -0.232473242677203 0.00299999999996382"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="Triangle_3_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Wheel_31_Link">
    <inertial>
      <origin
        xyz="0.0452843482086319 -2.35204495602215E-08 -0.00316662303452098"
        rpy="0 0 0" />
      <mass
        value="0.928234720134726" />
      <inertia
        ixx="0.00408369971361881"
        ixy="5.32917684126607E-10"
        ixz="-0.000120232154482042"
        iyy="0.00236428181267177"
        iyz="1.77717835564938E-10"
        izz="0.00237269329218794" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_31_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_31_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_31"
    type="continuous">
    <origin
      xyz="-0.00920017582690325 0.101 0"
      rpy="-1.96173275168312 0.0266396127457926 -3.07705432875151" />
    <parent
      link="Triangle_3_Link" />
    <child
      link="Wheel_31_Link" />
    <axis
      xyz="0.997564050259824 0 -0.0697564737441334" />
  </joint>
  <link
    name="Wheel_32_Link">
    <inertial>
      <origin
        xyz="0.0452843482083262 -2.3534260984448E-08 -0.00316662303890384"
        rpy="0 0 0" />
      <mass
        value="0.928234720134837" />
      <inertia
        ixx="0.00408369971340748"
        ixy="5.32991470613374E-10"
        ixz="-0.00012023215456748"
        iyy="0.00236428181248861"
        iyz="1.7758394879391E-10"
        izz="0.00237269329219204" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_32_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_32_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_32"
    type="continuous">
    <origin
      xyz="-0.00920017582690308 -0.0505 -0.0874685657822283"
      rpy="-1.96173275168312 0.0266396127457929 -3.07705432875151" />
    <parent
      link="Triangle_3_Link" />
    <child
      link="Wheel_32_Link" />
    <axis
      xyz="0.997564050259824 0 -0.0697564737441341" />
  </joint>
  <link
    name="Wheel_33_Link">
    <inertial>
      <origin
        xyz="0.0452843482154593 -2.35251558788896E-08 -0.0031666230441298"
        rpy="0 0 0" />
      <mass
        value="0.928234720460515" />
      <inertia
        ixx="0.00408369971474681"
        ixy="5.32973991956371E-10"
        ixz="-0.000120232154615891"
        iyy="0.00236428181360134"
        iyz="1.7738569174728E-10"
        izz="0.00237269329244912" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_33_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_33_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_33"
    type="continuous">
    <origin
      xyz="-0.00920017582690313 -0.0505 0.0874685657822284"
      rpy="-1.96173275168312 0.026639612745793 -3.07705432875151" />
    <parent
      link="Triangle_3_Link" />
    <child
      link="Wheel_33_Link" />
    <axis
      xyz="0.997564050259824 0 -0.0697564737441341" />
  </joint>
  <link
    name="Triangle_4_Link">
    <inertial>
      <origin
        xyz="-0.0224532310608154 -2.25254728549013E-05 -1.43990671117034E-06"
        rpy="0 0 0" />
      <mass
        value="0.832590973914138" />
      <inertia
        ixx="0.00400649050305284"
        ixy="-2.49872392456635E-10"
        ixz="2.97502103898973E-10"
        iyy="0.00204844624332658"
        iyz="-5.57945256928786E-08"
        izz="0.00204855981217181" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Triangle_4_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Triangle_4_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Triangle_4"
    type="fixed">
    <origin
      xyz="0.144228594913893 -0.232473242677787 0.00299999999961805"
      rpy="1.57079632679489 0 -3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Triangle_4_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Wheel_41_Link">
    <inertial>
      <origin
        xyz="0.0452843621025833 5.0525182482275E-08 -0.00316658438494782"
        rpy="0 0 0" />
      <mass
        value="0.928234057252498" />
      <inertia
        ixx="0.0040837047077404"
        ixy="-3.08926723809465E-10"
        ixz="-0.000120232765977727"
        iyy="0.00236428458615177"
        iyz="2.3597215595667E-10"
        izz="0.00237269614145344" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_41_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_41_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_41"
    type="continuous">
    <origin
      xyz="-0.00920017582684696 0.101 0"
      rpy="3.14159265358979 0.0698131700798516 -3.14159265358954" />
    <parent
      link="Triangle_4_Link" />
    <child
      link="Wheel_41_Link" />
    <axis
      xyz="0.997564050259819 0 -0.0697564737442035" />
  </joint>
  <link
    name="Wheel_42_Link">
    <inertial>
      <origin
        xyz="0.0452843621044051 5.05405970893658E-08 -0.0031665843879628"
        rpy="0 0 0" />
      <mass
        value="0.928234057431101" />
      <inertia
        ixx="0.00408370470910051"
        ixy="-3.09083372049451E-10"
        ixz="-0.000120232765928358"
        iyy="0.00236428458637597"
        iyz="2.36700205601786E-10"
        izz="0.00237269614249882" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_42_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_42_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_42"
    type="continuous">
    <origin
      xyz="-0.00920017582686578 -0.0505000000000001 -0.0874685657822289"
      rpy="3.14159265358979 0.0698131700797905 -3.14159265358954" />
    <parent
      link="Triangle_4_Link" />
    <child
      link="Wheel_42_Link" />
    <axis
      xyz="0.997564050259823 0 -0.0697564737441426" />
  </joint>
  <link
    name="Wheel_43_Link">
    <inertial>
      <origin
        xyz="0.0452843621028424 5.05233089462265E-08 -0.00316658438474218"
        rpy="0 0 0" />
      <mass
        value="0.928234057278289" />
      <inertia
        ixx="0.00408370470722742"
        ixy="-3.08871607536133E-10"
        ixz="-0.000120232765792978"
        iyy="0.00236428458547743"
        iyz="2.35679116035633E-10"
        izz="0.00237269614154115" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_43_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://herald/meshes/Wheel_43_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_43"
    type="continuous">
    <origin
      xyz="-0.00920017582685301 -0.0504999999999999 0.0874685657822278"
      rpy="3.14159265358979 0.0698131700798516 -3.14159265358954" />
    <parent
      link="Triangle_4_Link" />
    <child
      link="Wheel_43_Link" />
    <axis
      xyz="0.997564050259819 0 -0.0697564737442035" />
  </joint>
</robot>